<nav>
                <ul>
                    <li><a class ="nav-items" href="index">Home</a></li>
                    <li><a class ="nav-items" href="login">Login</a></li>
                    <li><a class ="nav-items" href="registration">Registration</a></li>
                    <li><a class ="nav-items" href="postimage">Post Image</a></li>
                    <li><a class ="nav-items" href="viewpost">View Post</a></li>
                </ul>
            </nav>