<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" herf="/public/favicon.ico" sizes="70x70" type="image/ico">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/style.css">
    {{#each js}}
      <script defer src="/public/js/{{this}}"></script>
    {{/each}}
</head>

  <body>
    {{>header}}
    {{>navbar}}
    {{{body}}}
    
    {{> footer}}
  </body>
</html>
