<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" herf="/public/favicon.ico" sizes="70x70" type="image/ico">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />

  
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/style.css">
    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    {{#each js}}
      <script defer src="/public/js/{{this}}"></script>
    {{/each}}
</head>

  <body>
    {{>header}}
    
    {{>navbar}}
    {{#if (nonEmptyObject messages)}}
    {{> flashmessage}}
    {{/if}}
     {{#if isLoggedIn}}
    <script>
      document.getElementById('logout')
      .addEventListener('click', function(event){
        fetch('/users/logout', {method: "POST"})
        .then(response => response.json())
        .then(function(res_json){
          Toastify({
            text: "You are successfully logged out",
            duration: 3000,
            position: "center", 
            stopOnFocus: true,
          }).showToast();
          setTimeout(()=>{
            window.location.replace('/');
          }, [1000])
        })
        .catch(err => console.log(err));
      })
    </script>
    {{/if}}
    {{{body}}}
  </body>
    {{> footer}}
  
</html>
