    <body>
        <main>  
            <p class = "count">
                Count : <span id="count"></span>
            </p>
            <section>
                <div id = "list" class="list" >

                </div>
            </section>

        </main>
    </body>
