    <body>
            <main>
                <h2>Log in</h2>
                <section>
                    <form >
                        <div>
                            <label for="username">Username</label>
                            <input class = "input-box" type="text" name="username" id="username" placeholder="Username">
                        </div>
                        <div>
                            <label for="passward">Password</label>
                            <input class = "input-box" type="password" name="password" id="Password" placeholder="Password">
                        </div>
            
                        <input class = "buttons" type = "submit" value="Submit">
            
                    </form>
                </section>
            </main>
            
        

     
    </body>
