    <body>
        <main>
            <h2>Post Image</h2>
            <section>
                <form >
                    <div>
                        <label for="username">Post Title</label>
                        <input class = "input-box" type="text" name="title" id="title" placeholder="Post Title"><br>
                    </div>
                    <div>
                        <label for="description">Description</label>
                        <input  class = "input-box" type="description" name="description" id="description" placeholder="Description"><br>
                    </div>
                    <div>
                        <label for="upload">Select Image</label>
                        <input type="file" accept=".jpg, .jpeg, .png" id="image"><br>
                    </div>
                    <div>
                        <input type="checkbox" id="policy" name="policy">
                        <label for="policy">I agree to the </label>
                        <a href="policy">Acceptable Use Policy</a>
                        <label for="policy"> for uploading the images </label><br>
                    </div>
                    
                        <input class = "buttons"  type="button" value="Submit">
                    
        
                </form>
            </section>
        </main>

        
    
    </body>
