
    <body>
        
        <main>
            <h2>View Post</h2>
            <section>
                <h3>Post Title</h3>
                <div>Actual Post Title</div>
            </section>
            <section>
                <h3>Author</h3>
                <div>Marie Shimizu</div>
            </section>
            <section>
                <h3>Post Creation Time</h3>
                <div>Fri Sep 23 12:00 PM</div>
            </section>
            <section>
                <h3>Post Image</h3>
                <div><img src="https://fakeimg.pl/200x100/?retina=1&text=CSC317&font=Times"></div>
            </section>
        </main>
    
    </body>
