body {
  padding-top: 10px;
  font-family: 'Encode Sans', sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
body {background-color: #ebbbbb;}

main{
  margin-top: 60px;
}

h1{
  color: #745c5c;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  margin-inline: 20px;
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 60px;
  text-emphasis: 20;
}

.invalid-text ::before {
  content: "❌";
}

.valid-text ::before{
  content: "✅";
}

.nav-items{
  color: #979294;
  text-decoration: none;
  background-color: #FFFF;
  padding: 18px;
  border-radius: 5%;
  font-size: 20px;

}

.input-label{
  align-items: left;
  
}

.buttons{
  background-color: bisque;
  border: 1px solid transparent;
  text-align: center;
  padding: 8px;
  border-radius: 5%;
  margin: 0 10px;
  color: #979294;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.input-box{
  width: 100%;
  border:1px solid #ccc;
  font-size: x-small;
  box-shadow: 2px 2px 10px #eee;
  padding: 8px;
  text-align: left;
  border-radius: 5%;
}

a {
  color: #979294;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
li {
  display: inline-block;
  margin: 0 50px;
  font-family: 'Encode Sans', sans-serif;
  margin-inline: 20px;

  
}
h3{
  color: #d21564;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align:center;

  margin-inline: 20px;
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 25px;
}

form > div {
  color: #745c5c;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: left;
  width: 500px;
  padding: auto;
  padding-left: 30%;
  margin-inline: 20px;
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 20px;

}

footer{
  color: #745c5c;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: end;
}

p{
  color: #979294;
  font-size:small;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 0.2%;
  margin-bottom: 0%;
}


.list {
  /* margin-top: 0%;
  margin-left: 20%;
  display: grid;
  width: 50%;
  grid-template-columns: repeat(3, 40px);
  grid-auto-rows: 15vh;
  gap: 12rem;
  padding: 1em; */
  display: flex;
  flex-wrap: wrap;
}

.post-card {
  width: 20%;
  /* display: grid;
  margin-top: 0;
  width: 250px;
  height: 50px;
  border-radius: .35em;
  grid-template-areas: "info"; */
}



.post-title::before{
  content: "Title: ";
}

.removed{
  opacity: 0;
  transition-duration: 1s;
}

.count{
  color: #745c5c;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: right;
  margin: 0 5% 2% 0;
}